<?php
/**
 * @category Bitbull
 * @package  Bitbull_BancaSella
 * @author   Mirko Cesaro <mirko.cesaro@gmail.com>
 */
?>

<?php /* @var $this Bitbull_BancaSella_Block_Form */?>
<?php /* @var $method Bitbull_BancaSella_Model_Gestpay */?>
<?php $method = $this->getMethod() ?>
<?php $_code=$this->getMethodCode() ?>

<ul id="payment_form_<?php echo $_code ?>" style="display: none;">
    <li>
        <?php  echo $this->__($method->getConfigData ( 'description' )) ?>
    </li>
</ul>